<div>
  <h2 id="page-heading" data-cy="EtapeTestHeading">
    <span jhiTranslate="orekasApp.etapeTest.home.title">EtapeTests</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="orekasApp.etapeTest.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-etape-test"
        [routerLink]="['/etape-test/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="orekasApp.etapeTest.home.createLabel">Créer un nouveau Etape Test</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (etapeTests?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="orekasApp.etapeTest.home.notFound">Aucun Etape Test trouvé</span>
    </div>
  }

  @if (etapeTests && etapeTests.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="nom">
              <div class="d-flex">
                <span jhiTranslate="orekasApp.etapeTest.nom">Nom</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="status">
              <div class="d-flex">
                <span jhiTranslate="orekasApp.etapeTest.status">Status</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="infos">
              <div class="d-flex">
                <span jhiTranslate="orekasApp.etapeTest.infos">Infos</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="testAuto.nom">
              <div class="d-flex">
                <span jhiTranslate="orekasApp.etapeTest.testAuto">Test Auto</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (etapeTest of etapeTests; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/etape-test', etapeTest.id, 'view']">{{ etapeTest.id }}</a>
              </td>
              <td>{{ etapeTest.nom }}</td>
              <td>{{ etapeTest.status }}</td>
              <td>{{ etapeTest.infos }}</td>
              <td>
                @if (etapeTest.testAuto) {
                  <div>
                    <a [routerLink]="['/test-auto', etapeTest.testAuto.id, 'view']">{{ etapeTest.testAuto.nom }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/etape-test', etapeTest.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
                  </a>

                  <a [routerLink]="['/etape-test', etapeTest.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
                  </a>

                  <button type="submit" (click)="delete(etapeTest)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
