<div>
  <h2 id="page-heading" data-cy="RapportHeading">
    <span jhiTranslate="orekasApp.rapport.home.title">Rapports</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="orekasApp.rapport.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-rapport"
        [routerLink]="['/rapport/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="orekasApp.rapport.home.createLabel">Créer un nouveau Rapport</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (rapports?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="orekasApp.rapport.home.notFound">Aucun Rapport trouvé</span>
    </div>
  }

  @if (rapports && rapports.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="nom">
              <div class="d-flex">
                <span jhiTranslate="orekasApp.rapport.nom">Nom</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="dateStr">
              <div class="d-flex">
                <span jhiTranslate="orekasApp.rapport.dateStr">Date Str</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="environnement">
              <div class="d-flex">
                <span jhiTranslate="orekasApp.rapport.environnement">Environnement</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="nbtests">
              <div class="d-flex">
                <span jhiTranslate="orekasApp.rapport.nbtests">Nbtests</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="nbtestsOk">
              <div class="d-flex">
                <span jhiTranslate="orekasApp.rapport.nbtestsOk">Nbtests Ok</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="nbtestsKo">
              <div class="d-flex">
                <span jhiTranslate="orekasApp.rapport.nbtestsKo">Nbtests Ko</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="logo">
              <div class="d-flex">
                <span jhiTranslate="orekasApp.rapport.logo">Logo</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (rapport of rapports; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/rapport', rapport.id, 'view']">{{ rapport.id }}</a>
              </td>
              <td>{{ rapport.nom }}</td>
              <td>{{ rapport.dateStr }}</td>
              <td>{{ rapport.environnement }}</td>
              <td>{{ rapport.nbtests }}</td>
              <td>{{ rapport.nbtestsOk }}</td>
              <td>{{ rapport.nbtestsKo }}</td>
              <td>{{ rapport.logo }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/rapport', rapport.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
                  </a>

                  <a [routerLink]="['/rapport', rapport.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
                  </a>

                  <button type="submit" (click)="delete(rapport)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
